<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
 crossorigin="anonymous" referrerpolicy="no-referrer" />
<header>
  <div class="navbar navbar-primary bg-primary shadow-lg">
    <div class="navbar-brand align-item-center d-flex text-white">
      <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;</i>
      <strong style="font-size: 30px;">Baba Foodcity </strong>
    </div>
   
         <div class="form-group w-50 mr-auto mt-3">
          <form id="SearchForm" >
            <div  [formGroup]="SearchForm"> 
          <input type="text" formControlName="search" class="form-control ml-5 " name="search" id="search" placeholder="Search Menu Items">
         </div>
         <span class="fas fa-search search-icon" (click)="search()"></span>
        
         </form>
        </div>
         <button class="btn btn-primary" routerLink="cart">
          <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>
  </div>
  </header>
