<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" >
 <div class="d-flex align-items-center justify-content-center mt-5">
     <div class="card col-md-6 align-items-center justify-content-center mt-5 shadow-sm p-3 mb-5 bg-white rounded">
         <div class="card-body shadow-lg p-3 mb-5 bg-white rounded ">
     <form id="loginForm" action="login" method="POST">
        <div class="mb-4" >
            <h3>Login</h3>
            <hr>
        </div>
      
        <p id="danger" class="text-danger"></p>
        <div class="mb-3">
             <input type="email"  class="form-control" [(ngModel)]="email" id="email" name="email" required>
        </div>
    
        <div class="mb-3">
            <input type="password" class="form-control" [(ngModel)]="pass" id="pass" name="pass"  required>
        </div>
            
        <div class="mb-3">
            <input type="submit" class="btn btn-outline-primary form-control" name="login" id="go" value="Login" (click)="DOLogin()" mdbWavesEffect> 
        </div>
        <p>Not Registered Yet?</p>
        <p>Click<a href="register">Here</a> to Register </p>


</form>
</div>
</div>
</div>